.MusicItem {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.MusicItem-title {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}

.MusicItem-action {
    opacity: 0.54;
}
